body{
    background-color: rgb(204, 199, 199);
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
    width: auto;
    height: 100px;
    margin: 0;
    padding: 0;
}
.navDiv{
    display: flex ;
    align-items: center;
   
}
li{
    list-style: none;
    display: inline;
}
li a{
  color: white;
  margin-right: 25px;
  font-weight: bold;
  font-size: 18px;
}

*{
    text-decoration: none;
}